<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link rel='stylesheet' href='/stylesheets/style.css' /-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/style.css">

    <script src="assets/bundle.js"></script>

</head>

<body ng-app="app" ng-controller="MainController as calendar" ng-init="calendar.init()">

<div class="container mt-5">

    <div class="row control">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-sm btn-primary"
                    ng-click="calendar.prevMonth();">prev
            </button>
            <span>{{calendar.currentMonth | monthToName}}</span>
            <button type="button" class="btn btn-sm btn-primary"
                    ng-click="calendar.nextMonth();">next
            </button>
        </div>
    </div>

    <div class="row head mt-2">
        <div class="col-1 item" ng-repeat="item in calendar.getHeader()">{{item}}</div>
    </div>

    <div class="row body">
        <div class="col-1 item" ng-repeat="calendarItem in calendar.items">
            <span ng-class="{'text-muted': !calendarItem.active}">{{calendarItem.caption}}</span>
            <button type="button" class="btn btn-sm btn-primary add-task" title="Add Task" data-toggle="modal"
                    data-target="#addTaskModal"
                    ng-click="calendar.openModal(calendarItem.id)"
                    ng-disabled="!calendarItem.canAddTask">+
            </button>

            <ul class="task-list">
                <li ng-repeat="task in calendarItem.tasks">
                    <button type="button" class="btn btn-sm btn-link edit-task" title="Edit Task" data-toggle="modal"
                            data-target="#addTaskModal" ng-click="calendar.openModal(calendarItem.id, task.id)">{{task.title}}
                    </button>

                </li>
            </ul>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" ng-controller="TaskController">
            <form onsubmit="$('#close-modal').click();return false;" ng-submit="save();">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTaskLongTitle">Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Task Title..."
                               value="{{task.title}}" ng-model="task.title" required>

                        <label for="date">When:</label>
                        <input class="form-control form-control-sm w-50" id="date" name="date" value="{{task.date}}"
                               required disabled>

                        <label for="description">Description:</label>
                        <textarea class="form-control form-control-sm" rows="3" id="description" ng-model="task.description"
                                  placeholder="Task Description...">{{task.description}}</textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal"
                            ng-class="{'d-none': task.id}">Close
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete()" ng-if="task.id">
                        Delete
                    </button>
                    <button type="submit" class="btn btn-primary">{{saveButtonText}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>